<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
    <title>html table</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="static/bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <script type="text/javascript" src="{{ url_for('static', filename='bootstrap/js/bootstrap.min.js') }}"></script>
  </head>
  <body>
    <div class="container">
      <h1 class="">The Grand Table of Names<small class="text-muted"> Now featuring bootstrap</small></h1>
      <table class="table table-bordered">
        <thead class="thead-light">
          <tr>
            <th>First name</th>
            <th>Last name</th>
            <th>Full Name</th>
          </tr>
        </thead>
        {% for user in users %}
        <tr>
          <td>{{user.first_name}}</td>
          <td>{{user.last_name}}</td>
          <td>{{user.first_name}} {{user.last_name}}</td>
        </tr>
        {% endfor %}
    </div>
  </body>
